{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron text-center">

      <h3>Gender(Female-Male) Classifier by Name</h3>

      <form action="{{ url_for('predict')}}" method="POST" class="row justify-content-center">
          <input class = "form-control mb-2 mr-sm-2" type = "text" name = "namequery" placeholder = "Enter Name">
          <button type = "submit" class = "btn btn-dark">Predict</button>
      </form>

    </div>
</div>
{% endblock content %}